@font-face {
  font-family: 'reglobold';
  src: url("/asset/font/reglo-bold-webfont.woff2") format("woff2"), url("/asset/font/reglo-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Letter Gothic Std';
  src: url("/asset/font/font-letter-gothic/LetterGothicStd.woff2") format("woff2"), url("/asset/font/font-letter-gothic/LetterGothicStd.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Letter Gothic Std Bold';
  font-style: normal;
  font-weight: normal;
  src: url("/asset/font/font-letter-gothic/LetterGothicStd-Bold.woff") format("woff"); }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  overflow-y: hidden;
  overflow-x: hidden;
  height: 100vh; }

.path {
  font-family: "reglobold", sans-serif;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 40s linear forwards;
  -webkit-animation: dash 40s linear forwards; }

svg {
  height: 150vh;
  width: auto;
  transform: translateY(-22vh); }

@keyframes dash {
  from {
    stroke-dashoffset: 1000; }
  to {
    stroke-dashoffset: 0; } }
@-webkit-keyframes dash {
  from {
    stroke-dashoffset: 1000; }
  to {
    stroke-dashoffset: 0; } }
/* Partie Justine, A propos */
.aside-propos h2 {
  font-family: "reglobold", sans-serif;
  color: #ff0000;
  letter-spacing: 0.3vh;
  font-weight: inherit;
  font-size: 120%; }

.aside-propos {
  color: #603896;
  flex-direction: column;
  width: 40%;
  display: flex;
  justify-content: space-around;
  margin-left: 8%;
  margin-top: 4.5%;
  height: 30vw; }

.aside-propos p {
  font-weight: bold;
  font-family: "Letter Gothic Std", sans-serif;
  line-height: 2vw;
  font-size: 0.8vw; }

.container-propos {
  display: flex;
  height: 77vh; }

.lignes {
  position: absolute;
  margin-top: -1%;
  /* margin-top: -3.1%; */
  height: 91%; }

.imgdesign {
  opacity: 0.9;
  margin-top: -9.6%;
  height: 132%; }

.article-propos {
  display: flex; }

.article-propos div {
  padding-top: 3.7%; }

.projets {
  font-family: "reglobold", sans-serif;
  font-weight: inherit;
  font-size: 5rem;
  margin-top: 1%;
  margin-left: 1%;
  font-size: 6rem;
  letter-spacing: 0.3vw;
  color: #ad9aca;
  opacity: 0.9; }

section .pour-qui hr {
  margin-top: 19.5%;
  width: 63%;
  margin-left: 37%;
  color: #ad9aca; }

hr {
  margin-top: 6%;
  margin-left: -8%;
  color: #ad9aca;
  height: 15px;
  border-top: none;
  border-left: none;
  border-right: none; }

.text9 h2 {
  font-family: "reglobold", sans-serif;
  color: #ff0000;
  font-weight: inherit;
  font-size: 120%;
  letter-spacing: 0.1vh;
  margin-left: 2%; }

.text9 p {
  color: #603896;
  font-weight: bold;
  font-family: "Letter Gothic Std", sans-serif;
  font-size: 0.8vw;
  width: 40%;
  line-height: 1.5vw;
  margin-top: 6%;
  margin-left: 2%; }

.deco {
  line-height: 128%;
  display: flex;
  flex-direction: column;
  margin-left: 79vh;
  margin-top: 10vh;
  color: #603896;
  opacity: 0.5; }

/* Accueil */
.container-accueil {
  display: flex;
  justify-content: space-around;
  background-color: #ff0000;
  flex-direction: row-reverse; }

nav {
  display: flex;
  flex-direction: column;
  width: 20vw;
  justify-content: center; }

nav figure {
  display: flex;
  width: 100%;
  color: white;
  height: 22vh;
  align-items: end; }

nav figure img {
  height: 13vh;
  align-self: center; }

nav figure figcaption {
  font-family: "Letter Gothic Std", sans-serif;
  font-size: 1.5rem;
  margin-left: 9%;
  margin-bottom: 4%; }

nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 83%;
  align-self: end; }

nav ul li a {
  text-decoration: none;
  font-family: "reglobold", sans-serif;
  color: white;
  font-size: 1.5rem; }

/* .letter {
    font-family: $font-titre;
    writing-mode: sideways-lr;
    font-size: 14rem;
    color: #ff6000;
} */
.letter {
  font-family: "reglobold", sans-serif;
  transform: rotate(-90deg);
  font-size: 14rem;
  color: #ff6000;
  height: 10%;
  align-self: self-start;
  width: 40%; }

.svg-container {
  height: 100vh;
  display: flex;
  flex-direction: row-reverse; }

.svg-container h2 {
  margin-bottom: 4%;
  align-self: flex-end;
  color: white;
  font-family: "Letter Gothic Std", sans-serif;
  filter: blur(7px);
  opacity: 0;
  animation: apear 1s forwards 2s;
  -webkit-animation: apear 1s forwards 2s; }

#neuf {
  font-family: 'Letter Gothic Std Bold';
  font-weight: bold; }

@keyframes apear {
  from {
    opacity: 0;
    filter: blur(7px); }
  to {
    opacity: 1;
    filter: blur(0px); } }
@-webkit-keyframes apear {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
/* 
    Created on : 8 avr. 2019, 14:42:41
    Author     : eric
*/
.container-contact {
  height: 100vh;
  background: url(../asset/img/background-contactWF.png) no-repeat;
  background-size: cover; }

.block-center-contact {
  display: flex;
  justify-content: flex-end;
  margin-right: 40vh;
  margin-top: 25vh; }

.bloc-right-contact {
  color: #ff0000;
  font-size: large; }

.font-goth {
  font-family: "Letter Gothic Std", sans-serif;
  font-weight: bold; }

.font-reglo {
  font-family: "reglobold", sans-serif; }

.space-letter3px {
  letter-spacing: 3px; }

.space-letter2px {
  letter-spacing: 2px; }

.space-letter-neg2px {
  letter-spacing: -2px; }

.contact-num {
  line-height: 50px; }

.localisation {
  line-height: 35px;
  padding-top: 30px; }

/* 
    Created on : 15 avr. 2019, 10:46:11
    Author     : eric
*/
.red-bar {
  width: 100vw;
  height: 12vh;
  background-color: #ff0000;
  display: flex;
  justify-content: flex-end; }

.en-tete ul {
  width: 50vh;
  list-style: none;
  display: flex;
  height: 75%;
  justify-content: flex-end; }

#vertical-line {
  width: 1px;
  height: 10%;
  position: absolute;
  background-image: linear-gradient(rgba(255, 255, 255, 0), white, rgba(255, 255, 255, 0));
  margin: 0;
  padding: 0;
  right: 18%; }

.en-tete li {
  margin-top: 4vh;
  margin-left: 1.3vw;
  font-family: "reglobold", sans-serif;
  color: white; }

.en-tete li a {
  margin-right: 9.5vh;
  font-family: "reglobold", sans-serif;
  text-decoration: none;
  color: white; }

.en-tete li img {
  margin-top: -3vh;
  height: 200%; }

.en-tete section {
  height: 5vh;
  display: flex;
  justify-content: flex-end; }

.en-tete section img {
  height: 10vh;
  margin-right: 4vh; }

/*# sourceMappingURL=style.css.map */
