/* Partie Justine, A propos */

.aside-propos h2 {
    font-family: "reglobold", sans-serif;
    color: #ff0000;
    letter-spacing: 0.3vh;
    font-weight: inherit;
    font-size: 120%;
}

.aside-propos {
    color: #603896;
    flex-direction: column;
    width: 40%;
    display: flex;
    justify-content: space-around;
    margin-left: 8%;
    margin-top: 4.5%;
    height: 30vw;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        border-top: 1px white solid;
        width: 65%;
        top: -16vh;
        border-left: 1px white solid;
        height: 90vh;
        border-right: 1px white solid;
        border-bottom: 1px white solid;
    }

}

.aside-propos p {
    font-weight: bold;
    font-family: $font-texte;
    line-height: 2vw;
    font-size: 0.8vw;

}

.container-propos {
    display: flex;
    height: 77vh;
}

.lignes {
    position: absolute;
    margin-top: -1%;
    height: 91%;
}

.imgdesign {
    opacity: 0.9;
    margin-top: -12.6vh;
    height: 132%;
}

.article-propos {
    display: flex;
}

.projets {
    font-family: $font-titre;
    font-weight: inherit;
    font-size: 5rem;
    margin-top: calc(10% - 48px);
    font-size: 6rem;
    letter-spacing: 0.3vw;
    color: #ad9aca;
    opacity: 0.9;
}

.text9 {
    position: relative;
    margin-top: 8%;
}

.image {
    position: relative;
    width: 48vh;
}

.image::before {
    position: absolute;
    content: "";
    border-top: 1px #ad9aca solid;
    width: 150vh;
    right: calc(65% - 157vh);
    top: 27.7vh;
}

/* @media (min-width : 1600px) {
    .text9{
        margin-top: 22%;
    }
    .text9::before {
        right: -22vh;
        top: -0.2vh;
    }

}

@media(max-width : 1280px) {
    .text9::before {
        right: -22vh;
        top: 6.4vh;
    }
} */

.text9 h2 {
    font-family: $font-titre;
    color: #ff0000;
    font-weight: inherit;
    font-size: 120%;
    letter-spacing: 0.1vh;
    margin-left: 2%;
    padding-top: 2%;
}

.text9 p {
    color: #603896;
    font-weight: bold;
    font-family: $font-texte;
    font-size: 0.8vw;
    width: 40%;
    line-height: 1.5vw;
    margin-top: 6%;
    margin-left: 2%;
}

.deco {
    line-height: 128%;
    display: flex;
    flex-direction: column;
    margin-left: 79vh;
    margin-top: 10vh;
    color: #603896;
    opacity: 0.5;
}