/* Partie Justine, A propos */

.aside-propos h2{
    font-family: "reglobold", sans-serif;
    color: #ff0000;
    letter-spacing: 0.3vh;
    font-weight: inherit;
    font-size: 120%;
}

.aside-propos {
    color: #603896;
    flex-direction: column;
    width: 40%;
    display: flex;
    justify-content: space-around;
    margin-left: 8%;
    margin-top: 4.5%;
    height: 30vw;

}

.aside-propos p {
    font-weight: bold;
    font-family: $font-texte;
    line-height: 2vw;
    font-size: 0.8vw;
}

.container-propos {
    display: flex;
    height: 77vh;
}
.reverse {
    writing-mode: sideways-lr;
}
.spacing {
    letter-spacing: 2.38vw;;
}
.article-propos{
    display: flex;
}
.design {
    display: flex;
    flex-direction: column-reverse;
    height: 117.1%;
    width: 40%;
    z-index: 5;
}

.design h1 {
    display: flex;
    font-family: $font-titre;
    font-weight: inherit;
    justify-content: center;
    align-items: center;

}
.taille-lettre {
    font-size: 13.2rem;
}

.article-propos div{
    padding-top: 3.7%;
}

.projets {
    font-family: $font-titre;
    font-weight: inherit;
    font-size: 5rem;
    display: flex;
    align-self: end;
    font-size: 6rem;
    letter-spacing: 0.3vw;
    color: #ad9aca;
}

.design-neuf {
    font-size: 2rem;
    letter-spacing: 0.2vw;
    color: #ff0000;
    position: absolute;
    left: 14px;
    top: 54px;
}

.bloc {
    position: relative;
    width: 90%;
}
.color {
    color: #b50065;
    opacity: 0.9;
}

.esi {
    color: #ad9aca;
}

section .pour-qui hr {
    margin-top: 19.5%;
    width: 63%;
    margin-left: 37%;
    color: #ad9aca;
}

hr{
    margin-top: 7%;
}

.imgdesign{
opacity: 0.9;
margin-top: -9.6%;
height: 132%;
}