
/* Accueil */
.container-accueil {
    display: flex;
    justify-content: space-around;
    background-color: #ff0000;
    flex-direction: row-reverse;
}

nav {
    display: flex;
    flex-direction: column;
    width: 20vw;
    justify-content: center;
}

nav figure {
    display: flex;
    width: 100%;
    color: white;
    height: 22vh;
    align-items: end;
}

nav figure img {
    height: 13vh;
    align-self: center;
}

nav figure figcaption {
    font-family: $font-texte;
    font-size: 1.5rem;
    margin-left: 9%;
    margin-bottom: 4%;
}
nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 83%;
    align-self: end;

}

nav ul li a {
    text-decoration: none;
    font-family: $font-titre;
    color: white;
    font-size: 1.5rem;
}

/* .letter {
    font-family: $font-titre;
    writing-mode: sideways-lr;
    font-size: 14rem;
    color: #ff6000;
} */
.letter {
    font-family: $font-titre;
    transform: rotate(-90deg);
    font-size: 14rem;
    color: #ff6000;
    height: 10%;
    align-self: self-start;
    width: 40%;
}

.svg-container {
    height: 100vh;
    display: flex;
    flex-direction: row-reverse;
}

.svg-container h2 {
    margin-bottom: 4%;
    align-self: flex-end;
    color: white;
    font-family: $font-texte;
    filter: blur(7px);
    opacity: 0;
    animation: apear 1s forwards 2s;
    -webkit-animation: apear 1s forwards 2s;
}

#neuf {
    font-family: 'Letter Gothic Std Bold';
    font-weight: bold;
}

@keyframes apear {
    from {
        opacity: 0;
        filter: blur(7px)
    }

    to {
        opacity: 1;
        filter: blur(0px);
    }
}

@-webkit-keyframes apear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}