@font-face {
    font-family: 'reglobold';
    src: url('/asset/font/reglo-bold-webfont.woff2') format('woff2'),
         url('/asset/font/reglo-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Letter Gothic Std';
    src: url('/asset/font/font-letter-gothic/LetterGothicStd.woff2') format('woff2'),
        url('/asset/font/font-letter-gothic/LetterGothicStd.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Letter Gothic Std Bold';
    font-style: normal;
    font-weight: normal;
    src: url('/asset/font/font-letter-gothic/LetterGothicStd-Bold.woff') format('woff');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-y: hidden;
    overflow-x: hidden;
    height: 100vh;
}
