.path {
  font-family: $font-titre;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 40s linear forwards;
  -webkit-animation: dash 40s linear forwards;
}

svg {
  height: 150vh;
  width: auto;
  transform: translateY(-22vh)
}
@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }

  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }

  to {
    stroke-dashoffset: 0;
  }
}